.main{
    text-align: center;
}
div{
    margin:2em;
}
.form{
    margin:5ex 50ex;
    font-size: medium;
}
input{
    position:absolute;
    left:40ex;
    
}
.save{
    margin:5ex 20ex;
    font-size: large;
}